@{
    ViewData["Title"] = "Home";
}
<div class="hero p-4 mb-4">
    <div class="row align-items-center">
        <div class="col-md-7">
            <h1 class="display-5">Welcome to Yatharth Water Purifier Service</h1>
            <p class="lead">Fast, reliable purifier repair, installation and filter replacement. Book a service online and our technician will contact you.</p>
            <a class="btn btn-primary btn-lg" asp-controller="ServiceBookings" asp-action="Create">Book a Service</a>
        </div>
        <div class="col-md-5 d-none d-md-block text-end">
            <img src="https://cdn.jsdelivr.net/gh/twitter/twemoji@14.0.2/assets/72x72/1f4a7.png" alt="water" style="width:120px; opacity:0.9" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <h4>Why choose us?</h4>
        <ul>
            <li>Experienced technicians</li>
            <li>Genuine replacement filters</li>
            <li>On-time service and follow-up</li>
        </ul>
    </div>
    <div class="col-md-4">
        <div class="card p-3">
            <h6>Contact</h6>
            <p class="mb-0">Phone: 99999-99999</p>
            <p class="mb-0">Email: yatharth794@gmail.com</p>
        </div>
    </div>
</div>